<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" ng-app="myApp"> <!--<![endif]-->
    <head>
        
        <!-- ==========================
            Meta Tags
        =========================== -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <meta name="og:url" content="http://akshayon.net" />
        <meta name="google" content="nositelinkssearchbox" />
        <meta name="description" content="A personal portfolio portal to showcase my works, skills and also allow people to contact me." />
        <meta name="og:type" content="website" />
        <meta name="og:description" content="A Polyglot Programmer and Chief Software Engineer @Datapeace" />
        <meta name="robots" content="noodp, noimageindex" />
        <meta name="og:title" content="#kodekracker - Akshay Pratap Singh" />
        <meta name="keywords" content="kodekracker,akshaypratapsingh,smvdu,chandausi, webdeveloper,91springboard,spratapakshay,akshay" />
        <meta name="og:image" content="http://akshayon.net/images/profile.png" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        
        <!-- ==========================
            Title
        =========================== -->
        <title> #kodekracker - Akshay Pratap Singh </title>

        <!-- ==========================
            Favicons
        =========================== -->
        <link rel="shortcut icon" href="icons/favicon.ico">
        <!-- <link rel="apple-touch-icon" href="icons/apple-touch-icon.png">
        <link rel="apple-touch-icon" sizes="72x72" href="icons/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="114x114" href="icons/apple-touch-icon-114x114.png">
    -->
        <!-- ==========================
            Fonts
        =========================== -->
        <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Lilita+One' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Alegreya+Sans+SC' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>

        <!-- ==========================
            CSS
        =========================== -->
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/font-awesome.min.css">
        <link rel="stylesheet" href="css/animate.css">
        <link rel="stylesheet" href="css/creative-brands.css">
        <link rel="stylesheet" href="css/vertical-carousel.css">
        <link rel="stylesheet" href="css/custom.css">
        

        <!-- ============================
            SEO Best Practices
        ============================ -->
        <link rel="alternate" href="http://akshayon.net" hreflang="en-us" />

        <!-- ==========================
            JS
        =========================== -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
        
    </head>
    <body id="page-top" ng-controller="MyController" ontouchstart="">
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <a href="#page-top" class="scroll-up scroll"><i class="fa fa-chevron-up"></i></a>

        <!-- ==========================
            HEADER - START
        =========================== -->
        <header>
        
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavigation"><i class="fa fa-bars"></i></button>
                <img src="images/my-avatar-min.png" class="navbar-logo pull-left" alt="" />
                <a href="#" class="navbar-brand animated flipInX">#kodekracker</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="myNavigation">

                <ul class="nav navbar-nav navbar-right animated flipInX">
                    <li><a href="#about" class="scroll">About Me</a></li>
                    <li><a href="#projects" class="scroll">Projects</a></li>
                    <li><a href="#contact" class="scroll">Contact</a></li>
                    
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container -->
    </nav>

    <div class="jumbotron">
        <img src="images/my-avatar-min.png" class="img-responsive scrollpoint sp-effect3" alt="" />
        <div class="social-wrapper">
            <ul class="brands brands-inline hidden-xs scrollpoint sp-effect1">
                <li><a href="https://www.facebook.com/spratapakshay" target="_blank"><i class="fa fa-facebook  hi-icon-effect-8"></i></a></li>
                <li><a href="https://twitter.com/spratapakshay" target="_blank"><i class="fa fa-twitter  hi-icon-effect-8"></i></a></li>
                <li><a href="https://plus.google.com/+AkshayPratap_01" target="_blank"><i class="fa fa-google-plus  hi-icon-effect-8"></i></a></li>
                
            </ul>
            <h2 class="scrollpoint sp-effect3">Akshay Pratap Singh</h2>
            <ul class="brands brands-inline hidden-xs scrollpoint sp-effect2">
                <li><a href="https://in.linkedin.com/in/spratapakshay" target="_blank"><i class="fa fa-linkedin  hi-icon-effect-8"></i></a></li>
                <li><a href="https://github.com/KodeKracker" target="_blank"><i class="fa fa-github  hi-icon-effect-8"></i></a></li>
                <li><a href="https://careers.stackoverflow.com/kodekracker" target="_blank"><i class="fa fa-stack-overflow  hi-icon-effect-8"></i></a></li>
                
            </ul>
        </div>
        <!-- Slideshow start -->
        <div id="slideshow" class="carousel slide vertical scrollpoint sp-effect3" data-ride="carousel">
            <div class="carousel-inner">
                <!-- Slideshow item 1 active -->
                <div class="item active"><h3>I <i class="fa fa-heart icon-first"></i> Software Development and Data Science</h3></div>

                <!-- Slideshow other items -->
                <div class="item"><h3>Pythonista <i class="fa fa-code icon"></i></h3></div>
                <div class="item"><h3>Data Science Enthusiast <i class="fa fa-line-chart icon"></i></h3></div>
                <div class="item"><h3>Software Developer <i class="fa fa-trophy icon"></i></h3></div>
                <div class="item"><h3>Polyglot and Avid Programmer <i class="fa fa-terminal icon"></i></h3></div>
                
            </div>
        </div>
        <!-- Slideshow end -->
        <a href="#about" class="btn btn-reference btn-lg scroll scrollpoint sp-effect1" role="button"><i class="fa fa-smile-o"></i> Know me better</a>

        
    </div>

        </header>
        <!-- ==========================
            HEADER - END
        =========================== -->

         <!-- ==========================
            ABOUT - START
        =========================== -->
        <section id="about" class="content-first">
        
    <div class="container">
        <div class="row">
            <div class="col-sm-2 hidden-xs scrollpoint sp-effect1"><!-- Profile image -->
                <img src="images/my-avatar-min.png" class="image-bordered img-responsive" alt="" />
            </div><!-- Profile end -->

            <div class="col-md-7 col-sm-6 scrollpoint sp-effect1"><!-- Profile description -->
                <h3>Akshay Pratap Singh</h3>
                <p>Software Developer and Data Science Enthusiast who loves to write software to build great products and help businesses succeed with their goals. I am proficient in development of a wide variety of web applications. I am most passionate about developing web applications using Python, NodeJS, Javascript, ReactJs, AngularJS, Mongodb and various other bleeding edge technologies. I can also speak to databases and make servers do stuff. I like working on scalability, performance, design, and great user experiences. I have keen interest in Data Science related projects of Data Mining, Data Analysis &amp; Machine Learning. During my spare time, i love to read technology blogs and learn new languages and technology.</p>

                <div class="tweets"><!-- Tweets row -->
                    <!-- Tweets slideshow -->
                         <div class="media">
                                <div class="pull-left"><i class="fa fa-twitter"></i></div>
                                <div class="media-body">
                                    <div id="slideshow1" class="carousel slide" data-ride="carousel">
                                          <div class="carousel-inner">
                                           <!-- Tweet Item -->
                                              <div class="item" ng-repeat="tweet in tweets" ng-class="{'active': $first}">
                                                    <p>{{ tweet.text }}</p>
                                              </div>
                                          </div>
                                     </div>
                                </div>
                         </div>
                   <!-- Tweets slideshow end -->
                </div><!-- Tweets row end -->
           </div><!-- Profile description end-->

          <div class="col-md-3 col-sm-4 scrollpoint sp-effect2"><!--Timeline-->

              <div class="timeline">
                  <!-- Timeline Items START -->
                  
                  <div class="event">
                      <div class="event-info">
                        <div class="date">2008</div>
                      </div>
                      <span>Graduated HighSchool</span>
                  </div>
                  
                  <div class="event">
                      <div class="event-info">
                        <div class="date">2010</div>
                      </div>
                      <span>Graduated Higher Secondary School</span>
                  </div>
                  
                  <div class="event">
                      <div class="event-info">
                        <div class="date">2014</div>
                      </div>
                      <span>Internship in Ophio</span>
                  </div>
                  
                  <div class="event">
                      <div class="event-info">
                        <div class="date">2015</div>
                      </div>
                      <span>Graduated from SMVDU</span>
                  </div>
                  
                  <div class="event">
                      <div class="event-info">
                        <div class="date">2015</div>
                      </div>
                      <span>Software Developer in 91springboard</span>
                  </div>
                  
                  <div class="event">
                      <div class="event-info">
                        <div class="date">2017</div>
                      </div>
                      <span>Senior Software Engineer in Data Peace</span>
                  </div>
                  
                  <!-- Timeline Items END -->

              </div><!--timeline-->
          </div><!--col 3 end-->

        </div><!--Row about end-->


        <div class="row">
            <div class="col-md-12 text-center">
                <a id="skills-toggle" class="btn btn-primary"><i class="fa fa-arrow-circle-o-down"></i> Check my skills</a>
            </div>
        </div>
    </div><!-- Container end-->

    <div id="skills">
        <div class="container">
            <!-- Toogle my skills start -->
            <div class="row">
                
                <div class="col-md-3">
                    <div class="chart" data-percent="60">60% CSS</div>
                </div>
                
                <div class="col-md-3">
                    <div class="chart" data-percent="80">80% HTML</div>
                </div>
                
                <div class="col-md-3">
                    <div class="chart" data-percent="70">70% JS</div>
                </div>
                
                <div class="col-md-3">
                    <div class="chart" data-percent="70">70% Python</div>
                </div>
                
            </div>
            <div class="row">
                
                <div class="col-md-3">
                    <div class="chart" data-percent="70">70% NodeJS</div>
                </div>
                
            </div>
            <!-- Toogle my skills end-->

        </div><!-- Container end-->
    </div>

        </section>
        <!-- ==========================
            ABOUT - END
        =========================== -->

         <!-- ==========================
            QUOTES - START
        =========================== -->
        <section id="quotes" class="content-first">
        
    <div class="container">
        <div class="row scrollpoint sp-effect3">
            <div class="col-sm-8 col-sm-offset-2">
                <blockquote class="blockquote-reverse">
                    <p><i class="fa fa-quote-left"></i>Intelligence is the ability to avoid doing work, yet getting the work done.</p>
                    <footer>Linus Torvalds</footer>
                </blockquote>
            </div>
        </div>
    </div>

        </section>
        <!-- ==========================
            QUOTES - END
        =========================== -->

        <!-- ==========================
            PROJECTS - START
        =========================== -->
        <section id="projects" class="content-second">
        
    <h2 class="scrollpoint sp-effect3">Projects</h2>
   <ul class="grid cs-style-4">
        <li>
            <figure class="scrollpoint sp-effect1">
                <div><img src="images/ref1.png" alt="Titiksha 2012"></div>
                <figcaption>
                    <h3>Titiksha 2012</h3>
                    <a href="" data-toggle="modal" data-target="#modal1">Read more</a>
                </figcaption>
            </figure>
        </li>
        <li>
            <figure class="scrollpoint sp-effect1">
                <div><img src="images/ref2.png" alt="Resurgence 2012"></div>
                <figcaption>
                    <h3>Resurgence 2012</h3>
                    <a href="" data-toggle="modal" data-target="#modal2">Read more</a>
                </figcaption>
            </figure>
        </li>
        <li>
            <figure class="scrollpoint sp-effect1">
                <div><img src="images/ref3.png" alt="Titiksha 2013"></div>
                <figcaption>
                    <h3>Titiksha 2013</h3>
                    <a href="" data-toggle="modal" data-target="#modal3">Read more</a>
                </figcaption>
            </figure>
        </li>
        <li>
            <figure class="scrollpoint sp-effect1">
                <div><img src="images/ref4.png" alt="Resurgence 2013"></div>
                <figcaption>
                    <h3>Resurgence 2013</h3>
                    <a href="" data-toggle="modal" data-target="#modal4">Read more</a>
                </figcaption>
            </figure>
        </li>
        <li>
            <figure class="scrollpoint sp-effect1">
                <div><img src="images/ref5.png" alt="SIIN (Student Internet Information Network)"></div>
                <figcaption>
                    <h3>SIIN (Student Internet Information Network)</h3>
                    <a href="" data-toggle="modal" data-target="#modal5">Read more</a>
                </figcaption>
            </figure>
        </li>
        <li>
            <figure class="scrollpoint sp-effect1">
                <div><img src="images/ref6.png" alt="SMVDU Online-Judge"></div>
                <figcaption>
                    <h3>SMVDU Online-Judge</h3>
                    <a href="" data-toggle="modal" data-target="#modal6">Read more</a>
                </figcaption>
            </figure>
        </li>
        <li>
            <figure class="scrollpoint sp-effect1">
                <div><img src="images/ref1.png" alt="Survey Board"></div>
                <figcaption>
                    <h3>Survey Board</h3>
                    <a href="" data-toggle="modal" data-target="#modal7">Read more</a>
                </figcaption>
            </figure>
        </li>
        <li>
            <figure class="scrollpoint sp-effect1">
                <div><img src="images/ref2.png" alt="Rotto Link Scraper"></div>
                <figcaption>
                    <h3>Rotto Link Scraper</h3>
                    <a href="" data-toggle="modal" data-target="#modal8">Read more</a>
                </figcaption>
            </figure>
        </li>
        <li>
            <figure class="scrollpoint sp-effect1">
                <div><img src="images/ref3.png" alt="Image Merging Web REST API"></div>
                <figcaption>
                    <h3>Image Merging Web REST API</h3>
                    <a href="" data-toggle="modal" data-target="#modal9">Read more</a>
                </figcaption>
            </figure>
        </li>
        <li>
            <figure class="scrollpoint sp-effect1">
                <div><img src="images/ref4.png" alt="Ophio Foodly"></div>
                <figcaption>
                    <h3>Ophio Foodly</h3>
                    <a href="" data-toggle="modal" data-target="#modal10">Read more</a>
                </figcaption>
            </figure>
        </li>
        <li>
            <figure class="scrollpoint sp-effect1">
                <div><img src="images/ref5.png" alt="Software Freedom Day (2014)"></div>
                <figcaption>
                    <h3>Software Freedom Day (2014)</h3>
                    <a href="" data-toggle="modal" data-target="#modal11">Read more</a>
                </figcaption>
            </figure>
        </li>
        <li>
            <figure class="scrollpoint sp-effect1">
                <div><img src="images/ref6.png" alt="Data Tag"></div>
                <figcaption>
                    <h3>Data Tag</h3>
                    <a href="" data-toggle="modal" data-target="#modal12">Read more</a>
                </figcaption>
            </figure>
        </li>
        
    </ul>

    <!-- Project Modal Box -->
    
    <div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h3 class="modal-title" id="myModalLabel">Titiksha 2012</h3>
          </div>
          <div class="modal-body">
              <div class="project-attr">
                    <span><strong>Description</strong></span>
                    <p>Titiksha is a Technical Festival of Shri Mata Vaishno Devi University , located in Katra , Jammu (Jammu & Kashmir,India)</p>
              </div>
              <div class="project-attr">
                    <span><i class="fa fa-calendar"></i> Duration : </span>
                    1 Month ( March, 2012 - March, 2012 )
              </div>
              <div class="project-attr">
                    <span><i class="fa fa-users"></i> Team : </span>
                    Saurabh Kumar, Akshay Pratap Singh, Rishabh Shukla
              </div>
              <div class="project-attr">
                    <span><i class="fa fa-github"></i> Source : </span>
                    <a href="https://github.com/smvdu/Titiksha-website" target="_blank">
                    https://github.com/smvdu/Titiksha-website <i class="fa fa-external-link"></i>
                    </a>
              </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="modal fade" id="modal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h3 class="modal-title" id="myModalLabel">Resurgence 2012</h3>
          </div>
          <div class="modal-body">
              <div class="project-attr">
                    <span><strong>Description</strong></span>
                    <p>Resurgence is a Cultural and Spots Festival of Shri Mata Vaishno Devi University , located in Katra , Jammu (Jammu & Kashmir).</p>
              </div>
              <div class="project-attr">
                    <span><i class="fa fa-calendar"></i> Duration : </span>
                    1 Month ( April, 2012 - April, 2012 )
              </div>
              <div class="project-attr">
                    <span><i class="fa fa-users"></i> Team : </span>
                    Saurabh Kumar, Akshay Pratap Singh, Rishabh Shukla
              </div>
              <div class="project-attr">
                    <span><i class="fa fa-github"></i> Source : </span>
                    <a href="https://github.com/smvdu/Resurgence-website" target="_blank">
                    https://github.com/smvdu/Resurgence-website <i class="fa fa-external-link"></i>
                    </a>
              </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="modal fade" id="modal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h3 class="modal-title" id="myModalLabel">Titiksha 2013</h3>
          </div>
          <div class="modal-body">
              <div class="project-attr">
                    <span><strong>Description</strong></span>
                    <p>Titiksha is a Technical Festival of Shri Mata Vaishno Devi University , located in Katra , Jammu (Jammu & Kashmir,India)</p>
              </div>
              <div class="project-attr">
                    <span><i class="fa fa-calendar"></i> Duration : </span>
                    1 Month ( September, 2012 - September, 2012 )
              </div>
              <div class="project-attr">
                    <span><i class="fa fa-users"></i> Team : </span>
                    Akshay Pratap Singh, Rishabh Shukla, Sunny Kumar
              </div>
              <div class="project-attr">
                    <span><i class="fa fa-github"></i> Source : </span>
                    <a href="https://github.com/smvdu/Titiksha-website" target="_blank">
                    https://github.com/smvdu/Titiksha-website <i class="fa fa-external-link"></i>
                    </a>
              </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="modal fade" id="modal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h3 class="modal-title" id="myModalLabel">Resurgence 2013</h3>
          </div>
          <div class="modal-body">
              <div class="project-attr">
                    <span><strong>Description</strong></span>
                    <p>Resurgence is a Cultural and Spots Festival of Shri Mata Vaishno Devi University , located in Katra , Jammu (Jammu & Kashmir).</p>
              </div>
              <div class="project-attr">
                    <span><i class="fa fa-calendar"></i> Duration : </span>
                    1 Month ( April, 2013 - April, 2013 )
              </div>
              <div class="project-attr">
                    <span><i class="fa fa-users"></i> Team : </span>
                    Akshay Pratap Singh, Rishabh Shukla, Sunny Kumar
              </div>
              <div class="project-attr">
                    <span><i class="fa fa-github"></i> Source : </span>
                    <a href="https://github.com/smvdu/Resurgence-website" target="_blank">
                    https://github.com/smvdu/Resurgence-website <i class="fa fa-external-link"></i>
                    </a>
              </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="modal fade" id="modal5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h3 class="modal-title" id="myModalLabel">SIIN (Student Internet Information Network)</h3>
          </div>
          <div class="modal-body">
              <div class="project-attr">
                    <span><strong>Description</strong></span>
                    <p>This is a software developed for daily student attendance in schools, collages and institutes. If facilitates to access the attendance information of a particular student in a particular class. The information is sorted by the operators, which will be provided by the teacher for a particular class. This system will also help in evaluating attendance eligibility criteria of a student. 
 The purpose of developing Student Internet Information Network is to computerized the tradition way of taking attendance. Another purpose for developing this software is to generate the report automatically at the end of the session or in the between of the session.</p>
              </div>
              <div class="project-attr">
                    <span><i class="fa fa-calendar"></i> Duration : </span>
                    5 Month ( January, 2013 - May, 2013 )
              </div>
              <div class="project-attr">
                    <span><i class="fa fa-users"></i> Team : </span>
                    Akshay Pratap Singh, Rishabh Shukla, Sunny Kumar
              </div>
              <div class="project-attr">
                    <span><i class="fa fa-github"></i> Source : </span>
                    <a href="https://github.com/KodeKracker" target="_blank">
                    https://github.com/KodeKracker <i class="fa fa-external-link"></i>
                    </a>
              </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="modal fade" id="modal6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h3 class="modal-title" id="myModalLabel">SMVDU Online-Judge</h3>
          </div>
          <div class="modal-body">
              <div class="project-attr">
                    <span><strong>Description</strong></span>
                    <p>SMVDU Online-Judge is a platform for organizing the competitive programming contest for college , where user can solves a problems in C/C++/JAVA/Python and it shows a leaderboard of a Contest.</p>
              </div>
              <div class="project-attr">
                    <span><i class="fa fa-calendar"></i> Duration : </span>
                    5 Month ( August, 2013 - December, 2013 )
              </div>
              <div class="project-attr">
                    <span><i class="fa fa-users"></i> Team : </span>
                    Akshay Pratap Singh, Rishabh Shukla, Sunny Kumar, Aman Kumar
              </div>
              <div class="project-attr">
                    <span><i class="fa fa-github"></i> Source : </span>
                    <a href="https://github.com/KodeKracker/Smvdu-Online-Judge" target="_blank">
                    https://github.com/KodeKracker/Smvdu-Online-Judge <i class="fa fa-external-link"></i>
                    </a>
              </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="modal fade" id="modal7" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h3 class="modal-title" id="myModalLabel">Survey Board</h3>
          </div>
          <div class="modal-body">
              <div class="project-attr">
                    <span><strong>Description</strong></span>
                    <p>Survey Board is an online platform for organizing a survey/feedback .</p>
              </div>
              <div class="project-attr">
                    <span><i class="fa fa-calendar"></i> Duration : </span>
                    5 Month ( January, 2014 - May, 2014 )
              </div>
              <div class="project-attr">
                    <span><i class="fa fa-users"></i> Team : </span>
                    Akshay Pratap Singh, Rishabh Shukla
              </div>
              <div class="project-attr">
                    <span><i class="fa fa-github"></i> Source : </span>
                    <a href="https://github.com/KodeKracker/Online-Survey-System" target="_blank">
                    https://github.com/KodeKracker/Online-Survey-System <i class="fa fa-external-link"></i>
                    </a>
              </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="modal fade" id="modal8" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h3 class="modal-title" id="myModalLabel">Rotto Link Scraper</h3>
          </div>
          <div class="modal-body">
              <div class="project-attr">
                    <span><strong>Description</strong></span>
                    <p>A web crawler/scraper to find the broken links in the targeted seed url based on the keywords matched around that broken links.</p>
              </div>
              <div class="project-attr">
                    <span><i class="fa fa-calendar"></i> Duration : </span>
                    2 Month ( June, 2014 - July, 2014 )
              </div>
              <div class="project-attr">
                    <span><i class="fa fa-users"></i> Team : </span>
                    Akshay Pratap Singh, Sunny Kumar
              </div>
              <div class="project-attr">
                    <span><i class="fa fa-github"></i> Source : </span>
                    <a href="https://github.com/KodeKracker/Rotto-Links-Scraper" target="_blank">
                    https://github.com/KodeKracker/Rotto-Links-Scraper <i class="fa fa-external-link"></i>
                    </a>
              </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="modal fade" id="modal9" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h3 class="modal-title" id="myModalLabel">Image Merging Web REST API</h3>
          </div>
          <div class="modal-body">
              <div class="project-attr">
                    <span><strong>Description</strong></span>
                    <p>A flask based web api to merge a two PNG images(i.e background and foreground) and get the merged image in base64 format.</p>
              </div>
              <div class="project-attr">
                    <span><i class="fa fa-calendar"></i> Duration : </span>
                    5 Days ( June, 2014 - June, 2014 )
              </div>
              <div class="project-attr">
                    <span><i class="fa fa-users"></i> Team : </span>
                    Akshay Pratap Singh
              </div>
              <div class="project-attr">
                    <span><i class="fa fa-github"></i> Source : </span>
                    <a href="https://github.com/KodeKracker/Image-Merging-API" target="_blank">
                    https://github.com/KodeKracker/Image-Merging-API <i class="fa fa-external-link"></i>
                    </a>
              </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="modal fade" id="modal10" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h3 class="modal-title" id="myModalLabel">Ophio Foodly</h3>
          </div>
          <div class="modal-body">
              <div class="project-attr">
                    <span><strong>Description</strong></span>
                    <p>An automation of Ophio Daily Food Management. I worked on firebase connectivity , frontend in AngularJs and made a python mailer scheduler for the web app.</p>
              </div>
              <div class="project-attr">
                    <span><i class="fa fa-calendar"></i> Duration : </span>
                    1 Month ( July, 2014 - July, 2014 )
              </div>
              <div class="project-attr">
                    <span><i class="fa fa-users"></i> Team : </span>
                    Akshay Pratap Singh, Sunny Kumar, Vikrant Pogula
              </div>
              <div class="project-attr">
                    <span><i class="fa fa-github"></i> Source : </span>
                    <a href="https://github.com/KodeKracker/Ophio-Foodly" target="_blank">
                    https://github.com/KodeKracker/Ophio-Foodly <i class="fa fa-external-link"></i>
                    </a>
              </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="modal fade" id="modal11" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h3 class="modal-title" id="myModalLabel">Software Freedom Day (2014)</h3>
          </div>
          <div class="modal-body">
              <div class="project-attr">
                    <span><strong>Description</strong></span>
                    <p>A website of festival to celebrate Software Freedom Day and to promote open source.</p>
              </div>
              <div class="project-attr">
                    <span><i class="fa fa-calendar"></i> Duration : </span>
                    2 Month ( August, 2014 - September, 2014 )
              </div>
              <div class="project-attr">
                    <span><i class="fa fa-users"></i> Team : </span>
                    Akshay Pratap Singh, Rishabh Shukla, Sunny Kumar
              </div>
              <div class="project-attr">
                    <span><i class="fa fa-github"></i> Source : </span>
                    <a href="https://github.com/KodeKracker/sfd-smvdu" target="_blank">
                    https://github.com/KodeKracker/sfd-smvdu <i class="fa fa-external-link"></i>
                    </a>
              </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="modal fade" id="modal12" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h3 class="modal-title" id="myModalLabel">Data Tag</h3>
          </div>
          <div class="modal-body">
              <div class="project-attr">
                    <span><strong>Description</strong></span>
                    <p>Data-Tag is an evolved system to classify textual data and web pages using NLP techniques, rather than not so intelligent Keyword-based Tagging. It uses NLTK to categorize data tokens into various "Word-Classes" and then using Open Data from Wikipedia applies Word-Sense Disambiguation algorithm to "smartly" tag the input data.</p>
              </div>
              <div class="project-attr">
                    <span><i class="fa fa-calendar"></i> Duration : </span>
                    5 Month ( August, 2014 - December, 2014 )
              </div>
              <div class="project-attr">
                    <span><i class="fa fa-users"></i> Team : </span>
                    Akshay Pratap Singh, Rishabh Shukla, Sunny Kumar
              </div>
              <div class="project-attr">
                    <span><i class="fa fa-github"></i> Source : </span>
                    <a href="https://github.com/KodeKracker/data-tag" target="_blank">
                    https://github.com/KodeKracker/data-tag <i class="fa fa-external-link"></i>
                    </a>
              </div>
          </div>
        </div>
      </div>
    </div>
    

        </section>
        <!-- ==========================
            PROJECTS - END
        =========================== -->

        <!-- ==========================
            BLOG - START
        =========================== -->
        <section id="blog" class="content-first">
           
    <div class="container">
        <h2 class="scrollpoint sp-effect3">Latest Blog Posts</h2>
        <p class="scrollpoint sp-effect3">To visit my complete blog , go to <a href="http://blog.akshayon.net" class="fancy-link">blog.akshayon.net</a></p>
    </div>

    <div class="line hidden-xs">
        <div class="container">
            <div class="row">
                <div class="col-sm-4"><i class="fa fa-bullhorn"></i></div>
                <div class="col-sm-4"><i class="fa fa-bullhorn"></i></div>
                <div class="col-sm-4"><i class="fa fa-bullhorn"></i></div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <!-- BLOG POST - Start -->
            <div class="col-sm-4 scrollpoint sp-effect1">
                <div class="blog-post" ng-repeat="blog in blogs">
                    <div class="blog-body">
                        <h3>{{ blog.title }}</h3>
                        <p>{{ blog.summary.plaintext | cut:true:200:'...' }}</p>
                        <a href="{{ blog.link }}" class="btn btn-primary" target="_blank">Read More</a>
                    </div>
                    <div class="blog-info">
                        <a><i class="fa fa-calendar"></i> {{ blog.updated_date }}</a>
                    </div>
                </div>
            </div>
            <!-- BLOG POST - End -->
        </div>
    </div>

        </section>
        <!-- ==========================
            BLOG - END
        =========================== -->

        <!-- ==========================
            TESTIMONIALS - START
        =========================== -->
        <section id="testimonials" class="content-first">
        

        </section>
        <!-- ==========================
            TESTIMONIALS - END
        =========================== -->

        <!-- ==========================
            CONTACT - START
        =========================== -->
        <section id="contact" class="content-first">
        
<div class="container">
        <h2 class="scrollpoint sp-effect3">{{ form.title }}</h2>
        <div class="contact-alert">
            <div class="alert alert-success" ng-show="form.success">
                <button type="button" class="close" ng-click="form.success=false" aria-hidden="true"><i class="fa fa-times"></i></button>
                <strong>Your message has been sent.</strong>
            </div>
            <div class="alert alert-danger" ng-show="form.error">
                <button type="button" class="close" ng-click="form.error=false" aria-hidden="true"><i class="fa fa-times"></i></button>
                <strong>Sorry, it seems that my mail server is not responding. Please try again later!</strong>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <img src="images/macbook.png" class="img-responsive hidden-xs" alt="">

                <div class="macbook-inner black">
                    <div class="row scrollpoint sp-effect4">
                        <div class="col-sm-8">
                            <h3 class="hidden-xs">Leave a message</h3>

                            <form role="form" id="contactForm" name="contactForm" ng-submit="submitForm(contactForm.$valid)" novalidate>

                                <div class="form-group control-group" ng-class="{ 'has-error' : contactForm.firstname.$invalid && !contactForm.firstname.$pristine }">
                                    <div class="controls">
                                        <p ng-show="contactForm.firstname.$invalid && !contactForm.firstname.$pristine"class="help-block">First Name is required.</p>
                                        <input type="text" name="firstname" class="form-control" placeholder="First Name" id="firstname" ng-model="person.firstname" required>
                                    </div>
                                </div>

                                <div class="form-group control-group" ng-class="{ 'has-error' : contactForm.lastname.$invalid && !contactForm.lastname.$pristine }">
                                    <div class="controls">
                                        <p ng-show="contactForm.lastname.$invalid && !contactForm.lastname.$pristine"class="help-block">Last Name is required.</p>
                                        <input type="text" name="lastname" class="form-control" placeholder="Last Name" id="lastname" ng-model="person.lastname" required>
                                    </div>
                                </div>

                                <div class="form-group control-group" ng-class="{ 'has-error' : contactForm.email.$invalid && !contactForm.email.$pristine }">
                                    <div class="controls">
                                        <p ng-show="contactForm.email.$invalid && !contactForm.email.$pristine"class="help-block">Email is required.</p>
                                        <input type="email" name="email" class="form-control" placeholder="Email" id="email" ng-model="person.email" required>
                                    </div>
                                </div>

                                <div class="form-group control-group" ng-class="{ 'has-error' : contactForm.message.$invalid && !contactForm.message.$pristine }">
                                    <div class="controls">
                                        <p ng-show="contactForm.message.$invalid && !contactForm.message.$pristine"class="help-block">Message is required.</p>
                                        <textarea class="form-control" name="message" placeholder="Message" id="message" ng-model="person.message" required></textarea>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary" ng-disabled="contactForm.$invalid">Send message</button>
                                </div>
                            </form>

                        </div>
                        <div class="col-sm-4">
                        <img src="images/my-avatar-min.png" class="contact-image image-responsive hidden-xs hidden-sm" alt="" />
                            <div class="contact-info">
                                <p>Akshay Pratap Singh</p>
                                <p>Delhi, India</p>
                                <img src="images/mobilenumber.png" style="height: 53px;" />
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

        </section>
        <!-- ==========================
            CONTACT - END
        =========================== -->

        <!-- ==========================
            FOOTER - START
        =========================== -->
        <section id="footer">
        
    <div class="container">
        <div class="row">
            <div class="col-sm-12 scrollpoint sp-effect3">

                    <ul class="brands brands-inline">
                        
                        <li><a href="https://www.facebook.com/spratapakshay" target="_blank"><i class="fa fa-facebook  hi-icon-effect-8"></i></a></li>
                        
                        <li><a href="https://twitter.com/spratapakshay" target="_blank"><i class="fa fa-twitter  hi-icon-effect-8"></i></a></li>
                        
                        <li><a href="https://plus.google.com/+AkshayPratap_01" target="_blank"><i class="fa fa-google-plus  hi-icon-effect-8"></i></a></li>
                        
                        <li><a href="https://in.linkedin.com/in/spratapakshay" target="_blank"><i class="fa fa-linkedin  hi-icon-effect-8"></i></a></li>
                        
                        <li><a href="https://github.com/KodeKracker" target="_blank"><i class="fa fa-github  hi-icon-effect-8"></i></a></li>
                        
                        <li><a href="https://careers.stackoverflow.com/kodekracker" target="_blank"><i class="fa fa-stack-overflow  hi-icon-effect-8"></i></a></li>
                        
                    </ul>

                <p>&copy Akshay Pratap Singh 2015, All right reserved.
            </div>
        </div>
    </div>

        </section>
        <!-- ==========================
            FOOTER - END
        =========================== -->

        <!-- ==========================
            JS
        =========================== -->
        <script src="js/vendor/jquery-1.11.3.min.js"></script>
        <script src="js/vendor/bootstrap.min.js"></script>
        <script src="js/vendor/creative-brands.js"></script>
        <script src="js/vendor/jquery.easy-pie-chart.js"></script>
        <script src="js/vendor/modernizr.custom.js"></script>
        <script src="js/vendor/waypoints.min.js"></script>
        <script src="js/vendor/jquery.countTo.js"></script>
        <script src="js/vendor/jqBootstrapValidation.js"></script>
        <script src="js/vendor/angular.min.js"></script>
        <script src="js/vendor/angular-route.min.js"></script>
        <script src="js/vendor/angular-resource.min.js"></script>
        <script src="js/custom.js"></script>
        <script src="js/app.js"></script>
        

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>

        <!-- StatsCounter Analytics -->
        <!-- Start of StatCounter Code for Default Guide -->
        <script type="text/javascript">
        var sc_project=10510111;
        var sc_invisible=1;
        var sc_security="4596a5df";
        var scJsHost = (("https:" == document.location.protocol) ?
        "https://secure." : "http://www.");
        document.write("<sc"+"ript type='text/javascript' src='" +
        scJsHost+
        "statcounter.com/counter/counter.js'></"+"script>");
        </script>
        <noscript><div class="statcounter"><a title="shopify
        analytics tool" href="http://statcounter.com/shopify/"
        target="_blank"><img class="statcounter"
        src="http://c.statcounter.com/10510111/0/4596a5df/1/"
        alt="shopify analytics tool"></a></div></noscript>
        <!-- End of StatCounter Code for Default Guide -->
        
        
    </body>
</html>