<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" ng-app="myApp"> <!--<![endif]-->
    <head>
         <!-- ==========================
            Meta Tags
        =========================== -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="Description" content="A personal portfolio portal to showcase my works, skills and also allow people to contact me.">
        <meta name="Keywords" content="kodekracker, akshaypratapsingh, smvdu,chandausi, webdeveloper">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="google" content="nositelinkssearchbox" />
        <meta name="robots" content="noodp, noimageindex" />

        <!-- ==========================
            Title
        =========================== -->
        <title>#kodekracker - Akshay Pratap Singh</title>

        <!-- ==========================
            Favicons
        =========================== -->
        <link rel="shortcut icon" href="icons/favicon.ico">
        <!-- <link rel="apple-touch-icon" href="icons/apple-touch-icon.png">
        <link rel="apple-touch-icon" sizes="72x72" href="icons/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="114x114" href="icons/apple-touch-icon-114x114.png">
 -->
        <!-- ==========================
            Fonts
        =========================== -->
        <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Lilita+One' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Alegreya+Sans+SC' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>

        <!-- ==========================
            CSS
        =========================== -->
        <link rel="stylesheet" href="css/normalize.css">

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="css/bootstrap.min.css">

        <!-- Optional theme -->
        <!-- <link rel="stylesheet" href="css/bootstrap-theme.min.css"> -->

        <link rel="stylesheet" href="css/font-awesome.min.css">
        <link rel="stylesheet" href="css/animate.css">
        <link rel="stylesheet" href="css/creative-brands.css">
        <link rel="stylesheet" href="css/vertical-carousel.css">

        <link rel="stylesheet" href="css/custom.css">

        <!-- ==========================
            JS
        =========================== -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->

    </head>
    <body id="page-top">
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <a href="#page-top" class="scroll-up scroll"><i class="fa fa-chevron-up"></i></a>

         <!-- ==========================
            HEADER - START
        =========================== -->
        <header>
            <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavigation"><i class="fa fa-bars"></i></button>
                        <img src="images/jonathan.png" class="navbar-logo pull-left" alt="" />
                        <a href="#" class="navbar-brand animated flipInX">#kodekracker</a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="myNavigation">

                        <ul class="nav navbar-nav navbar-right animated flipInX">
                            <li><a href="#about" class="scroll">About me</a></li>
                            <li><a href="#projects" class="scroll">Projects</a></li>
                            <li><a href="#testimonials" class="scroll">Testimonials</a></li>
                            <li><a href="#contact" class="scroll">Contact</a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container -->
            </nav>

            <div class="jumbotron">
                <img src="images/jonathan.png" class="img-responsive scrollpoint sp-effect3" alt="" />
                <div class="social-wrapper">
                    <ul class="brands brands-inline hidden-xs scrollpoint sp-effect1">
                        <li><a href="https://www.facebook.com/AKSHAYPRATAP007" target="_blank"><i class="fa fa-facebook  hi-icon-effect-8"></i></a></li>
                        <li><a href="https://twitter.com/KodeKracker" target="_blank"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://plus.google.com/+AkshayPratap_01" target="_blank"><i class="fa fa-google-plus"></i></a></li>

                    </ul>
                    <h2 class="scrollpoint sp-effect3">Akshay Pratap Singh</h2>
                    <ul class="brands brands-inline hidden-xs scrollpoint sp-effect2">
                        <li><a href="https://in.linkedin.com/in/akshaypratapsingh" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="https://github.com/KodeKracker/" target="_blank"><i class="fa fa-github"></i></a></li>
                        <li><a href="https://careers.stackoverflow.com/kodekracker" target="_blank"><i class="fa fa-stack-overflow"></i></a></li>
                    </ul>
                </div>
                <!-- Slideshow start -->
                <div id="slideshow" class="carousel slide vertical scrollpoint sp-effect3" data-ride="carousel">
                    <div class="carousel-inner">
                        <!-- Slideshow item 1 active -->
                        <div class="item active"><h3>I <i class="fa fa-heart icon-first"></i> web development and data science</h3></div>
                        <!-- Slideshow item 2 -->
                        <div class="item"><h3>Creative coder <i class="fa fa-code icon"></i></h3></div>
                        <!-- Slideshow item 3 -->
                        <div class="item"><h3><i class="fa fa-trophy"></i> Data Science Enthusiast</h3></div>
                    </div>
                </div>
                <!-- Slideshow end -->
            <a href="#about" class="btn btn-reference btn-lg scroll scrollpoint sp-effect1" role="button"><i class="fa fa-smile-o"></i> Know me better</a>
            <a href="#contact" class="btn btn-reference btn-lg btn-active scroll scrollpoint sp-effect2" role="button"><i class="fa fa-bolt"></i> Hire me</a>
            </div>
        </header>
        <!-- ==========================
            HEADER - END
        =========================== -->

        <!-- ==========================
            ABOUT - START
        =========================== -->
        <section id="about" class="content-first">
            <div class="container">
                <div class="row">
                    <div class="col-sm-2 hidden-xs scrollpoint sp-effect1"><!-- Profile image -->
                        <img src="images/jonathan.png" class="image-bordered img-responsive" alt="" />
                    </div><!-- Profile end -->

                    <div class="col-md-7 col-sm-6 scrollpoint sp-effect1"><!-- Profile description -->
                        <h3>Akshay Pratap Singh</h3>
                        <p>Web Developer/Designer proficient in a wide variety of web applications and also Data Science enthusiast. Specially interested in web development using Python, Javascript , Angular , Mongodb and also in Data Science related projects of Data Mining, Data Analysis &amp; Machine Learning.</p>

                        <div class="tweets"><!-- Tweets row -->
                            <!-- Tweets slideshow -->
                                 <div class="media">
                                        <div class="pull-left"><i class="fa fa-twitter"></i></div>
                                        <div class="media-body">
                                            <div id="slideshow1" class="carousel slide" data-ride="carousel">
                                                  <div class="carousel-inner">
                                                   <!-- Slideshow item 1 active -->
                                                      <div class="item active">
                                                            <p>Hi everyone i just finished my last #awesome web template you can check it on #wrapbootstrap.. Fully responsive and mobile first webtheme.co</p>
                                                      </div>
                                                   <!-- Slideshow item 2 -->
                                                      <div class="item">
                                                            <p>Check our new amazing portfolio on #Pixelized</p>
                                                      </div>

                                                    <!-- Slideshow item 3 -->
                                                      <div class="item">
                                                            <p>Another very #important tweet from your twitter.</p>
                                                      </div>
                                                  </div>
                                             </div>
                                        </div>
                                 </div>
                           <!-- Tweets slideshow end -->
                        </div><!-- Tweets row end -->
                   </div><!-- Profile description end-->

                  <div class="col-md-3 col-sm-4 scrollpoint sp-effect2"><!--Timeline-->

                      <div class="timeline">
                          <!-- BLOG POST 1 - START -->
                          <div class="event">
                              <div class="event-info">
                                <div class="date">2008</div>
                              </div>
                              <span>Graduated High School</span>
                          </div> <!-- BLOG POST 1 - END -->

                          <div class="event">
                              <div class="event-info">
                                 <div class="date">2010</div>
                              </div>
                              <span>Graduated Secondary School</span>
                          </div> <!-- BLOG POST 1 - END -->

                          <div class="event">
                              <div class="event-info">
                                 <div class="date">2014</div>
                              </div>
                              <span>Internship Ophio</span>
                          </div> <!-- BLOG POST 1 - END -->

                          <div class="event">
                              <div class="event-info">
                                 <div class="date">2015</div>
                              </div>
                              <span>Graduated SMVDU</span>
                          </div> <!-- BLOG POST 1 - END -->

                          <div class="event">
                              <div class="event-info">
                                 <div class="date">2015</div>
                              </div>
                              <span>Start freelancing</span>
                          </div> <!-- BLOG POST 1 - END -->

                      </div><!--timeline-->
                  </div><!--col 3 end-->

                </div><!--Row about end-->


                <div class="row">
                    <div class="col-md-12 text-center">
                        <a id="skills-toggle" class="btn btn-primary"><i class="fa fa-arrow-circle-o-down"></i> Check my skills</a>
                    </div>
                </div>
            </div><!-- Container end-->

            <div id="skills">
                <div class="container">
                    <div class="row"><!-- Toogle my skills start -->
                        <div class="col-md-3">
                            <div class="chart" data-percent="73">73% CSS</div>
                        </div>
                        <div class="col-md-3">
                            <div class="chart" data-percent="89">89% Html</div>
                        </div>
                        <div class="col-md-3">
                            <div class="chart" data-percent="83">83% Code</div>
                        </div>
                        <div class="col-md-3">
                            <div class="chart" data-percent="62">62% Design</div>
                        </div>
                    </div><!-- Toogle my skills end-->

                </div><!-- Container end-->
            </div>

        </section>
        <!-- ==========================
            ABOUT - END
        =========================== -->

        <!-- ==========================
            QUOTES - START
        =========================== -->
        <section id="quotes" class="content-first">
            <div class="container">
                <div class="row scrollpoint sp-effect3">
                    <div class="col-sm-8 col-sm-offset-2">
                        <blockquote class="blockquote-reverse">
                            <p><i class="fa fa-quote-left"></i> Design is not just what it looks like and feels like. Design is how it works.</p>
                            <footer> Steve Jobs</footer>
                        </blockquote>
                    </div>
                </div>
            </div>
        </section>
        <!-- ==========================
            QUOTES - END
        =========================== -->

        <!-- ==========================
            PROJECTS - START
        =========================== -->
        <section id="projects" class="content-second">
            <h2 class="scrollpoint sp-effect3">Projects</h2>
            <p class="scrollpoint sp-effect3">These are the projects in which i contributed till yet.</p>
           <!--  <ul class="grid cs-style-4">
                    <li>
                        <figure class="scrollpoint sp-effect1">
                            <div><img src="images/ref1.png" alt="img04"></div>
                            <figcaption>
                                <h3>Lorem ipsum</h3>
                                <a href="">Read more</a>
                            </figcaption>
                        </figure>
                    </li>

                    <li>
                        <figure class="scrollpoint sp-effect3">
                            <div><img src="images/ref2.png" alt="img04"></div>
                            <figcaption>
                                <h3>Lorem ipsum</h3>
                                <a href="">Read more</a>
                            </figcaption>
                        </figure>
                    </li>

                    <li>
                        <figure class="scrollpoint sp-effect2">
                            <div><img src="images/ref3.png" alt="img04"></div>
                            <figcaption>
                                <h3>Lorem ipsum</h3>
                                <a href="">Read more</a>
                            </figcaption>
                        </figure>
                    </li>

                    <li>
                        <figure class="scrollpoint sp-effect1">
                            <div><img src="images/ref4.png" alt="img04"></div>
                            <figcaption>
                                <h3>Lorem ipsum</h3>
                                <a href="">Read more</a>
                            </figcaption>
                        </figure>
                    </li>

                    <li>
                        <figure class="scrollpoint sp-effect3">
                            <div><img src="images/ref5.png" alt="img04"></div>
                            <figcaption>
                                <h3>Lorem ipsum</h3>
                                <a href="">Read more</a>
                            </figcaption>
                        </figure>
                    </li>

                    <li>
                        <figure class="scrollpoint sp-effect2">
                            <div><img src="images/ref6.png" alt="img04"></div>
                            <figcaption>
                                <h3>Lorem ipsum</h3>
                                <a href="">Read more</a>
                            </figcaption>
                        </figure>
                    </li>

                </ul>
 -->
        </section>
        <!-- ==========================
            PROJECTS - END
        =========================== -->


        <!-- ==========================
            BLOG - START
        =========================== -->
        <section id="blog" class="content-first">
            <div class="container">
                <h2 class="scrollpoint sp-effect3">Latest Blog Posts</h2>
                <p class="scrollpoint sp-effect3">To visit my complete blog , go to <a href="http://blog.akshayon.net" class="fancy-link">blog.akshayon.net</a></p>
            </div>


        </section>
        <!-- ==========================
            BLOG - END
        =========================== -->

        <!-- ==========================
            TESTIMONIALS - START
        =========================== -->
        <section id="testimonials" class="content-first">
            <div class="container">
                <h2 class="scrollpoint sp-effect3 text-center">Testimonials</h2>
                <p class="scrollpoint sp-effect3 text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce in turpis quam. Nulla quis eleifend lectus.</p>
                <div class="row">

                    <!-- TESTIMONIAL 1 - START -->
               <!--      <div class="col-sm-6 scrollpoint sp-effect1">
                        <div class="media">
                            <a class="pull-left" href="#"><img class="media-object img-circle" src="images/tom.png" alt=""></a>
                            <div class="media-body">
                                <h4 class="media-heading">John Doe</h4>
                                <span>Webdesigner</span>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sed volutpat est. Donec lobortis interdum volutpat. Maecenas bibendum dui quis pharetra tincidunt. Praesent posuere eu velit at scelerisque.</p>
                            </div>
                        </div>
                    </div>
                -->     <!-- TESTIMONIAL 1 - END -->

                    <!-- TESTIMONIAL 2 - START -->
<!--                     <div class="col-sm-6 scrollpoint sp-effect2">
                        <div class="media">
                            <a class="pull-left" href="#"><img class="media-object img-circle" src="images/suzanne.png" alt=""></a>
                            <div class="media-body">
                                <h4 class="media-heading">John Doe</h4>
                                <span>Webdesigner</span>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sed volutpat est. Donec lobortis interdum volutpat. Maecenas bibendum dui quis pharetra tincidunt. Praesent posuere eu velit at scelerisque.</p>
                            </div>
                        </div>
                    </div>
 -->                    <!-- TESTIMONIAL 2 - END -->

                </div>

            </div>
        </section>
        <!-- ==========================
            TESTIMONIALS - END
        =========================== -->
        <!-- ==========================
            CONTACT - START
        =========================== -->
        <section id="contact" class="content-first">
            <div class="container" ng-controller="MyController">
                <h2 class="scrollpoint sp-effect3">{{ form.title }}</h2>
                <div class="contact-alert">
                    <div class="alert alert-success" ng-show="form.success">
                        <button type="button" class="close" ng-click="form.success=false" aria-hidden="true"><i class="fa fa-times"></i></button>
                        <strong>Your message has been sent.</strong>
                    </div>
                    <div class="alert alert-danger" ng-show="form.error">
                        <button type="button" class="close" ng-click="form.error=false" aria-hidden="true"><i class="fa fa-times"></i></button>
                        <strong>Sorry, it seems that my mail server is not responding. Please try again later!</strong>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <img src="images/macbook.png" class="img-responsive hidden-xs" alt="">

                        <div class="macbook-inner black">
                            <div class="row scrollpoint sp-effect4">
                                <div class="col-sm-8">
                                    <h3 class="hidden-xs">Leave a message</h3>

                                    <form role="form" id="contactForm" name="contactForm" ng-submit="submitForm(contactForm.$valid)" novalidate>

                                        <div class="form-group control-group" ng-class="{ 'has-error' : contactForm.firstname.$invalid && !contactForm.firstname.$pristine }">
                                            <div class="controls">
                                                <p ng-show="contactForm.firstname.$invalid && !contactForm.firstname.$pristine"class="help-block">First Name is required.</p>
                                                <input type="text" name="firstname" class="form-control" placeholder="First Name" id="firstname" ng-model="person.firstname" required>
                                            </div>
                                        </div>

                                        <div class="form-group control-group" ng-class="{ 'has-error' : contactForm.lastname.$invalid && !contactForm.lastname.$pristine }">
                                            <div class="controls">
                                                <p ng-show="contactForm.lastname.$invalid && !contactForm.lastname.$pristine"class="help-block">Last Name is required.</p>
                                                <input type="text" name="lastname" class="form-control" placeholder="Last Name" id="lastname" ng-model="person.lastname" required>
                                            </div>
                                        </div>

                                        <div class="form-group control-group" ng-class="{ 'has-error' : contactForm.email.$invalid && !contactForm.email.$pristine }">
                                            <div class="controls">
                                                <p ng-show="contactForm.email.$invalid && !contactForm.email.$pristine"class="help-block">Email is required.</p>
                                                <input type="email" name="email" class="form-control" placeholder="Email" id="email" ng-model="person.email" required>
                                            </div>
                                        </div>

                                        <div class="form-group control-group" ng-class="{ 'has-error' : contactForm.message.$invalid && !contactForm.message.$pristine }">
                                            <div class="controls">
                                                <p ng-show="contactForm.message.$invalid && !contactForm.message.$pristine"class="help-block">Message is required.</p>
                                                <textarea class="form-control" name="message" placeholder="Message" id="message" ng-model="person.message" required></textarea>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <button type="submit" class="btn btn-primary" ng-disabled="contactForm.$invalid">Send message</button>
                                        </div>
                                    </form>

                                </div>
                                <div class="col-sm-4">
                                <img src="images/jonathan.png" class="contact-image image-responsive hidden-xs hidden-sm" alt="" />
                                    <div class="contact-info">
                                        <p>Akshay Pratap Singh</p>
                                        <p>703-Garage, Sector-29
                                        <br>Noida,U.P, India - 201301</p>
                                        <p>+91-7838792774,+91-8477063529</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
        <!-- ==========================
            CONTACT - END
        =========================== -->

        <!-- ==========================
            FOOTER - START
        =========================== -->
        <section id="footer">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 scrollpoint sp-effect3">

                            <ul class="brands brands-inline">
                                <li><a href="https://www.facebook.com/AKSHAYPRATAP007" target="_blank"><i class="fa fa-facebook  hi-icon-effect-8"></i></a></li>
                                <li><a href="https://twitter.com/KodeKracker" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="https://plus.google.com/+AkshayPratap_01" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="https://in.linkedin.com/in/akshaypratapsingh" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="https://github.com/KodeKracker/" target="_blank"><i class="fa fa-github"></i></a></li>
                                <li><a href="https://careers.stackoverflow.com/kodekracker" target="_blank"><i class="fa fa-stack-overflow"></i></a></li>
                            </ul>

                        <p>© Akshay Pratap Singh 2015, All right reserved.
                    </div>
                </div>
            </div>
        </section>
        <!-- ==========================
            FOOTER - END
        =========================== -->
        <!-- ==========================
            JS
        =========================== -->

        <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>

        <!-- Latest compiled and minified JavaScript -->
        <script src="js/vendor/bootstrap.min.js"></script>
        <script src="js/vendor/creative-brands.js"></script>
        <script src="js/vendor/jquery.easy-pie-chart.js"></script>
        <script src="js/vendor/modernizr.custom.js"></script>
        <script src="js/vendor/waypoints.min.js"></script>
        <script src="js/vendor/jquery.countTo.js"></script>
        <script src="js/vendor/jqBootstrapValidation.js"></script>
        <script src="js/vendor/angular.min.js"></script>
        <script src="js/vendor/angular-route.min.js"></script>

        <script src="js/custom.js"></script>
        <script src="js/app.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>

        <!-- StatsCounter Analytics -->
        <!-- Start of StatCounter Code for Default Guide -->
        <script type="text/javascript">
        var sc_project=10510111;
        var sc_invisible=1;
        var sc_security="4596a5df";
        var scJsHost = (("https:" == document.location.protocol) ?
        "https://secure." : "http://www.");
        document.write("<sc"+"ript type='text/javascript' src='" +
        scJsHost+
        "statcounter.com/counter/counter.js'></"+"script>");
        </script>
        <noscript><div class="statcounter"><a title="shopify
        analytics tool" href="http://statcounter.com/shopify/"
        target="_blank"><img class="statcounter"
        src="http://c.statcounter.com/10510111/0/4596a5df/1/"
        alt="shopify analytics tool"></a></div></noscript>
        <!-- End of StatCounter Code for Default Guide -->
    </body>
</html>
